.page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

/* Header */

.page__header_grey {
    background-color: #F6F2F2;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1250px;
    height: 100%;
    min-height: 90px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #303030;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    min-height: 90px;
}
.menu__item:hover {
    background-color: #FF3F40;
    animation: flash 1s linear infinite alternate;
}

.menu__link {
    display: flex;
    align-items: center;
    padding: 0 25px;
    color: #E0E0E0;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.49px;
    font-weight: bold;
}

/* Main */

/* Intro */

.page__intro_grey {
    background-color: #F6F2F2;
}

.intro {
    max-width: 1250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.intro__title {
    max-width: 560px;
    width: 100%;
    min-height: 117px;
    height: 100%;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 800;
    margin: 100px 0 36px;
}

.intro__description {
    max-width: 545px;
    width: 100%;
    min-height: 73px;
    height: 100%;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 64px;
}

.intro__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    height: 55px;
    background-color: #FF2D2D;
    border-radius: 6px;
    color: #F6F2F2;
    font-size: 18px;
    letter-spacing: 0.3195px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 123px;
}
.intro__button:hover {
    animation: flash 1s linear infinite alternate;
}

.intro__logo {
    max-width: 551px;
    width: 100%;
    max-height: 356px;
    height: 100%;
}
.intro__logo:hover {
    animation: pulse 1s infinite linear alternate;
}

/* Services */

.services {
    max-width: 1250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.services__content {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.services__title {
    max-width: 524px;
    width: 100%;
    min-height: 88px;
    height: 100%;
    font-size: 42px;
    line-height: 55px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 50px;
}

.services__description{
    max-width: 540px;
    width: 100%;
    min-height: 98px;
    height: 100%;
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 65px;
}

.services__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    height: 55px;
    background-color: #FFF;
    border: 2px solid #FF0000;
    border-radius: 6px;
    color: #FF2D2D;
    font-size: 18px;
    letter-spacing: 0.3195px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 123px;
}
.services__button:hover {
    animation: flash 1s linear infinite alternate;
}

.services__blocks{
    display: flex;
    flex-wrap: wrap;
    max-width: 620px;
    width: 100%;
    justify-content: space-between;
    margin-top: 108px;
}

.service__icon{
    margin: 0;
}

.service__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0.3px;
    margin: 35px 0 24px;
}

.service__description{
    max-width: 300px;
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 52px;
}

/* Feature products */

.feature {
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.feature__line_top {
    max-width: 1250px;
    width: 100%;
    height: 3px;
    background-color: #ECECEC;
    margin-top: 50px;
    border: none;
}

.feature__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 105px auto 85px;
}

.feature__title {
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    margin: 0 auto 28px;
    text-align: center;
}

.feature__description {
    max-width: 538px;
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
}

.feature__line {
    margin-top: 33px;
}

.line {
    width: 134px;
    height: 3px;
    background-color: #FF2D2D;
    border: none;
}

.feature__products-filter {
    display: flex;
    max-width: 850px;
    width: 100%;
    margin: 0 auto 35px;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.products__item {
    margin-bottom: 15px;
}

.products__link {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.22px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    padding: 0 5px;
}
.products__link_active {
    color: #FF2D2D;
    animation: flash 1s linear infinite alternate;
}
.products__link:hover {
    color: #FF2D2D;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.product_1 {
    background-image: url(../img/prod_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
    margin: 10px;
    cursor: pointer;
}
.product_2 {
    background-image: url(../img/prod_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
    margin: 10px;
    cursor: pointer;
}
.product_3 {
    background-image: url(../img/prod_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
    margin: 10px;
    cursor: pointer;
}
.product_4 {
    background-image: url(../img/prod_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
    margin: 10px;
    cursor: pointer;
}
.product_5 {
    background-image: url(../img/prod_5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
    margin: 10px;
    cursor: pointer;
}
.product_6 {
    background-image: url(../img/prod_6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
    margin: 10px;
    cursor: pointer;
}
.product_7 {
    background-image: url(../img/prod_7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
    margin: 10px;
    cursor: pointer;
}
.product_8 {
    background-image: url(../img/prod_8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
    margin: 10px;
    cursor: pointer;
}
.product_1:hover, .product_2:hover, .product_3:hover, .product_4:hover, 
.product_5:hover, .product_6:hover, .product_7:hover, .product_8:hover {
    animation: pulse 1s infinite ease-in-out alternate;
}

/* Team */

.team {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

.team__content {
    display: flex;
    max-width: 478px;
    width: 100%;
    flex-direction: column;
}

.team__title {
    font-size: 42px;
    text-transform: uppercase;
    margin: 105px 0 35px;
}

.team__description {
    font-size: 15.9953px;
    line-height: 28px;
    margin-bottom: 38px;
}

.team__line {
    margin: 0 0 84px;
}

.team__persons {
    display: flex;
    flex-wrap: wrap;
}

.person__photo {
    max-width: 310px;
    width: 100%;
    min-height: 460px;
    height: 100%;
    background-image: url(../img/boss.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 46px;
    margin-bottom: 105px;
    cursor: pointer;
}

.persons__list {
    max-width: 894px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.person__title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.275px;
    text-transform: uppercase;
    margin: 0;
}

.person__description {
    max-width: 662px;
    width: 100%;
    font-size: 15.9953px;
    line-height: 28px;
    margin: 30px 0 46px;
}

.team__links{
    display: flex;
    flex-wrap: wrap;
    max-width: 370px;
    width: 100%;
    padding: 0;
    margin: 0 0 32px;
    list-style: none;
    justify-content: space-between;
}

.person__links {
    margin-bottom: 15px;
}

.person__link {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 24px;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    padding: 0 5px;
    color: #000;
}
.person__link:hover {
    animation: flash 1s ease infinite alternate;
    color: #FF0000;
}

.persons {
    display: flex;
    flex-wrap: wrap;
    max-width: 894px;
    width: 100%;
    justify-content: space-between;
    margin: 0;
}

.person__name {
    width: 100%;
    display: flex;
    justify-content: center;
    visibility: hidden;
    color: #FFF;
    height: 38px;
    margin: 0;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 0px;
    text-transform: uppercase;
}

.person {
    display: flex;
    align-items: flex-end;
    max-width: 198px;
    width: 100%;
    min-height: 216px;
    height: 100%;
    margin-bottom: 20px;
}

.person_1 {
    background-image: url(../img/person_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.person_2 {
    background-image: url(../img/person_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.person_3 {
    background-image: url(../img/person_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.person_4 {
    background-image: url(../img/person_4.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.person_1:hover > .person__name, .person_2:hover > .person__name, 
.person_3:hover > .person__name, .person_4:hover > .person__name {
    visibility: visible;
}

/* Subscribe */

.subscribe {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 150px 0 120px;
}

.subscribe__background_black {
    background-color: #303030;
}

.subscribe__title {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    letter-spacing: 1.05px;
    color: #FFF;
    margin: 0;
}

.subscribe__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    margin: 16px 0 56px;
}

.subscribe__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.subscribe__input {
    font-family: 'Open Sans', sans-serif;
    max-width: 480px;
    width: 100%;
    min-height: 78px;
    height: 100%;
    background-color: #FFF;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    border: 0;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2C2C2C;
}
.subscribe__input::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2C2C2C;
}
.subscribe__input:invalid {
    color: #FF2D2D;
}

.subscribe__button {
    font-family: 'Open Sans', sans-serif;
    max-width: 217px;
    width: 100%;
    min-height: 82px;
    height: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.317px;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    background-color: #FF2D2D;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}
.subscribe__button:hover {
    animation: flash 1s linear infinite alternate;
}

/* Feedback */

.feedback {
    display: grid;
    grid-template-areas:
        'info info'
        'form contacts';
    grid-template-columns: 734px 1fr;
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;
    gap: 74px 104px;
}

.feedback__info {
    grid-area: info;
}

.feedback__title {
    font-weight: 700;
    font-size: 42px;
    letter-spacing: 0.38px;
    text-transform: uppercase;
    margin: 140px 0 46px;

}

.feedback__description {
    max-width: 752px;
    width: 100%;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 58px;
}

.feedback__line {
    margin: 0;
}

.feedback__form {
    grid-area: form;
    display: grid;
    grid-template-areas:
        'name email'
        'textarea textarea'
        'button button';
    gap: 44px 52px;
    margin-bottom: 108px;
}

.feedback__input {
    font-family: 'Open Sans', sans-serif;
    max-width: 290px;
    width: 100%;
    min-height: 68px;
    padding-left: 50px;
    border: 0;
    background-color: rgba(0,0,0,.1);
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #000;
}
.feedback__input:first-child {
    grid-area: name;
}
.feedback__input:nth-child(2) {
    grid-area: email;
}
.feedback__input::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #000;
}
.feedback__input:invalid {
    color: #FF2D2D;
}

.feedback__textarea {
    grid-area: textarea;
    font-family: 'Open Sans', sans-serif;
    max-width: 684px;
    width: 100%;
    min-height: 218px;
    padding-left: 50px;
    padding-top: 32px;
    border: 0;
    background-color: rgba(0,0,0,.1);
    border-radius: 6px;
    resize: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #000;
}
.feedback__textarea::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #000;
}
.feedback__textarea:invalid {
    color: #FF2D2D;
}

.feedback__button {
    grid-area: button;
    font-family: 'Open Sans', sans-serif;
    max-width: 736px;
    width: 100%;
    min-height: 74px;
    height: 100%;
    border: 0;
    background-color: #FF2D2D;
    border-radius: 6px;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.317px;
    cursor: pointer;
}
.feedback__button:hover {
    animation: flash 1s linear infinite alternate;
}

.feedback__contacts {
    grid-area: contacts;
    background-color: #303030;
    max-width: 580px;
    width: 100%;
    max-height: 484px;
    height: 100%;
    padding-right: 100vw;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 316px;
    width: 100%;
    max-height: 202px;
    height: 100%;
    margin-top: 140px;
    margin-left: 82px;
    justify-content: space-between;
}

.contacts__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.317px;
    text-transform: uppercase;
    color: #FFF;
    margin: 0;
}

.contacts__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFF;
    text-decoration: none;
}

/* Footer */

.footer__backgroung_grey {
    background-color: #303030;
}

.footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1250px;
    width: 100%;
    height: 112px;
    margin: 0 auto;
    align-items: center;
}

.footer__copyright {
    display: flex;
    margin: 26px 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B8B8B8;
    box-sizing: border-box;
    padding: 0 1em;
}

.footer__links {
    display: flex;
    padding: 0 1em;
    box-sizing: border-box;
}

.footer__link {
    text-decoration: none;
    margin-left: 18px;
    margin-top: 26px;
}

.footer__logo {
    width: 33px;
    height: 33px;
}
.footer__logo:hover {
    animation: elastic-spin 2s infinite ease;
}

/* Responsive */

/* Media */

@media (max-width: 1250px) {
    .team__persons {
        flex-direction: column;
        align-items: center;
        margin: 0 1em 105px;
    }
    .person__photo {
        margin-right: 0;
        margin-bottom: 1em;
    }
    .team__content {
        margin: 0 auto;
    }
    .team__persons {
        justify-content: center;
    }
    .feedback {
        display: flex;
        flex-direction: column;
    }
    .feedback__info {
        margin: 0 auto;
    }
    .feedback__form {
        max-width: 736px;
        width: 100%;
        margin: 0 auto;
    }
    .feedback__contacts {
        padding: 0;
        max-width: 100vw;
        width: 100%;
    }
    .contacts {
        box-sizing: border-box;
        margin: 2em auto;
        padding: 0 1em;
    }
}

@media (max-width: 1190px) {
    .services__content {
        margin: auto;
        margin-top: 80px;
        padding: 20px;
    }
    .services__blocks {
        margin: 0 auto;
    }
}

@media (max-width: 1169px) {
    .intro__content {
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .intro__link {
        margin: 0 auto;
        margin-bottom: 80px;
    }
    .subscribe__input {
        box-sizing: border-box;
        margin: 0 1em 1em;
    }
}

@media (max-width: 850px) {
    .feedback__info {
        box-sizing: border-box;
        padding: 0 1em;
    }
}

@media (max-width: 750px) {
    .person {
        margin-right: 1em;
    }
    .feedback__form {
        box-sizing: border-box;
        grid-template-areas:
        'name'
        'email'
        'textarea'
        'button';
        padding: 1em;
    }
    .feedback__input {
        box-sizing: border-box;
        max-width: 100%;
    }
    .feedback__textarea {
        box-sizing: border-box;
    }
}

@media (max-width: 670px) {
    .services__blocks {
        flex-direction: column;
        align-items: center;
    }
    .persons {
        justify-content: space-around;
    }
}

@media (max-width: 615px) {
    .intro__title {
        font-size: 50px;
        line-height: 62px;
    }
    .feature__header {
        margin: 105px 1em 85px;
    }
    .services__blocks {
        flex-direction: column;
    }
    .service {
        margin: 0 auto;
    }
}

@media (max-width: 520px) {
    .intro__link {
        margin: 0 1em 3em;
    }
    .feature__products-filter {
        box-sizing: border-box;
        padding: 0 1em;
    }
    .team__content {
        box-sizing: border-box;
        padding: 0 1em;
    }
}

@media (max-width: 472px) {
    .menu__link {
        padding: 0 45px;
    }
    .intro__title {
        font-size: 32px;
        line-height: 44px;
    }
    .persons {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 324px) {
    .menu {
        padding: 0 20px;
        flex-direction: column;
    }
    .intro__content {
        padding: 0;
    }
}

/*   Animations */
.pulse {
    animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
    from { transform: scale(0.95); }
    to { transform: scale(1.05); }
}

.flash {
    animation: flash 1s ease infinite alternate;
}
@keyframes flash {
    from { opacity: 1; }	
    to { opacity: 0.25; }
}

.elastic-spin:hover {
    animation: elastic-spin 3s infinite linear;
}
@keyframes elastic-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(720deg); }
}

.wobble:hover {
    animation: wobble 2s ease infinite;
}
@keyframes wobble {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-25%) rotate(-5deg); }
    30% { transform: translateX(20%) rotate(3deg); }
    45% { transform: translateX(-15%) rotate(-3deg); }
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); }
}

.flip:hover {
	backface-visibility: visible !important;
	animation: flip 2s ease-in-out infinite;
}
@keyframes flip {
	0% {
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(400px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(400px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(400px) scale(1);
		animation-timing-function: ease-in;
	}
}

.shake:hover {
    animation: shake 4s ease-in-out infinite;
}
@keyframes shake {
      0%, 100% {transform: translateX(0);}
      10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
      20%, 40%, 60%, 80% {transform: translateX(10px);}
}