.page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

/* Header */

.page__header_grey {
    background-color: #F6F2F2;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1250px;
    height: 100%;
    min-height: 90px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #303030;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    min-height: 90px;
}
.menu__item:hover {
    background-color: #FF3F40;
    animation: flash 1s linear infinite alternate;
}

.menu__link {
    display: flex;
    align-items: center;
    padding: 0 25px;
    color: #E0E0E0;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.49px;
    font-weight: bold;
}

/* Main */

/* Intro */

.page__intro_grey {
    background-color: #F6F2F2;
}

.intro {
    max-width: 1250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.intro__title {
    max-width: 560px;
    width: 100%;
    min-height: 117px;
    height: 100%;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 800;
    margin: 100px 0 36px;
}

.intro__description {
    max-width: 545px;
    width: 100%;
    min-height: 73px;
    height: 100%;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 64px;
}

.intro__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    height: 55px;
    background-color: #FF2D2D;
    border-radius: 6px;
    color: #F6F2F2;
    font-size: 18px;
    letter-spacing: 0.3195px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 123px;
}
.intro__button:hover {
    animation: flash 1s linear infinite alternate;
}

.intro__logo {
    max-width: 551px;
    width: 100%;
    max-height: 356px;
    height: 100%;
}
.intro__logo:hover {
    animation: pulse 1s infinite linear alternate;
}

/* Services */

.services {
    max-width: 1250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.services__content {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.services__title {
    max-width: 524px;
    width: 100%;
    min-height: 88px;
    height: 100%;
    font-size: 42px;
    line-height: 55px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 50px;
}

.services__description{
    max-width: 540px;
    width: 100%;
    min-height: 98px;
    height: 100%;
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 65px;
}

.services__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    height: 55px;
    background-color: #FFF;
    border: 2px solid #FF0000;
    border-radius: 6px;
    color: #FF2D2D;
    font-size: 18px;
    letter-spacing: 0.3195px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 123px;
}
.services__button:hover {
    animation: flash 1s linear infinite alternate;
}

.services__blocks{
    display: flex;
    flex-wrap: wrap;
    max-width: 620px;
    width: 100%;
    justify-content: space-between;
    margin-top: 108px;
}

.service__icon{
    margin: 0;
}

.service__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0.3px;
    margin: 35px 0 24px;
}

.service__description{
    max-width: 300px;
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 52px;
}

/* Feature products */

.feature {
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.feature__line_top {
    max-width: 1250px;
    width: 100%;
    height: 3px;
    background-color: #ECECEC;
    margin-top: 50px;
    border: none;
}

.feature__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 105px auto 85px;
}

.feature__title {
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    margin: 0 auto 28px;
    text-align: center;
}

.feature__description {
    max-width: 538px;
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
}

.line {
    width: 134px;
    height: 3px;
    background-color: #FF2D2D;
    border: none;
    margin-top: 33px;
}

.feature__products-filter {
    display: flex;
    max-width: 850px;
    width: 100%;
    margin: 0 auto 50px;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.products__link {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.22px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    padding: 0 5px;
}
.products__link_active {
    color: #FF2D2D;
    animation: flash 1s linear infinite alternate;
}
.products__link:hover {
    color: #FF2D2D;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.product_1 {
    background-image: url(../img/prod_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
    margin: 10px;
    cursor: pointer;
}
.product_2 {
    background-image: url(../img/prod_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
    margin: 10px;
    cursor: pointer;
}
.product_3 {
    background-image: url(../img/prod_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
    margin: 10px;
    cursor: pointer;
}
.product_4 {
    background-image: url(../img/prod_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
    margin: 10px;
    cursor: pointer;
}
.product_5 {
    background-image: url(../img/prod_5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
    margin: 10px;
    cursor: pointer;
}
.product_6 {
    background-image: url(../img/prod_6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
    margin: 10px;
    cursor: pointer;
}
.product_7 {
    background-image: url(../img/prod_7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
    margin: 10px;
    cursor: pointer;
}
.product_8 {
    background-image: url(../img/prod_8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px;
    height: 290px;
    margin: 10px;
    cursor: pointer;
}
.product_1:hover, .product_2:hover, .product_3:hover, .product_4:hover, 
.product_5:hover, .product_6:hover, .product_7:hover, .product_8:hover {
    animation: pulse 1s infinite ease-in-out alternate;
}

/* Media */

@media (max-width: 1190px) {
    .services__content {
        margin: auto;
        margin-top: 80px;
        padding: 20px;
    }
    .services__blocks {
        margin: 0 auto;
    }
}

@media (max-width: 1169px) {
    .intro__content {
        margin: 0 auto;
        padding: 0 20px;
    }
    .intro__link {
        margin: 0 auto;
        margin-bottom: 80px;
    }
}

@media (max-width: 615px) {
    .services__blocks {
        flex-direction: column;
    }
    .service {
        margin: 0 auto;
    }
}

@media (max-width: 472px) {
    .menu__link {
        padding: 0 45px;
    }
}

@media (max-width: 324px) {
    .menu {
        padding: 0 20px;
        flex-direction: column;
    }
}

/*   Animations */
.pulse {
    animation: pulse 1s infinite ease-in-out alternate;
  }
  @keyframes pulse {
    from { transform: scale(0.95); }
    to { transform: scale(1.05); }
  }

  .flash {
    animation: flash 1s ease infinite alternate;
  }
  @keyframes flash {
      from { opacity: 1; }	
      to { opacity: 0.25; }
  }

  .elastic-spin:hover {
    animation: elastic-spin 3s infinite linear;
  }
  @keyframes elastic-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(720deg); }
  }

  .wobble:hover {
    animation: wobble 2s ease infinite;
  }
  @keyframes wobble {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-25%) rotate(-5deg); }
    30% { transform: translateX(20%) rotate(3deg); }
    45% { transform: translateX(-15%) rotate(-3deg); }
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); }
  }

  .flip:hover {
	backface-visibility: visible !important;
	animation: flip 2s ease-in-out infinite;
}
@keyframes flip {
	0% {
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(400px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(400px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(400px) scale(1);
		animation-timing-function: ease-in;
	}
}

  .shake:hover {
    animation: shake 4s ease-in-out infinite;
  }
  @keyframes shake {
      0%, 100% {transform: translateX(0);}
      10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
      20%, 40%, 60%, 80% {transform: translateX(10px);}
  }